@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

:root{
    --primary-color: #4E9DA0;
    --second-color: #6AD9D9;
    --black-color: #0A0D0D;
    --yellow-color: #D9AE30;
    --white-color: #f2f2f2;
}

.container{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header{
    background-color: var(--primary-color);
    height: 100px;
    width: 100vw;
    display: flex; 
    justify-content: space-between;  
    align-items: center;
}

.logo{

    width: 180px;
}

ul{
    display: flex;
    align-items: center;
    
    
}

li, a{
    color: var(--white-color);
    text-decoration: none;
    list-style: none;
    padding: 30px;
}

nav li a:hover{
    color: var(--yellow-color);
}

.titulo {

    
    text-align: center;
    color: #D9AE30;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 60px;

}

h2 {

    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

select{

    text-align: center;
    
    
}



