@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
}

.login-area form div img{
    width: 15px;
}

.background{
    width: 60vw;
    height: 100vh;
    background-color: brown;
}

.login-area{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box h1{
    color: silver;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* LOGIN AREA */

.login-box{
    width: 350px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-box input{
    width: 270px;   
}

form{
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.input-box{
    position: relative;
}

.input-box input{
    gap: 30px;
}

.input-box img{
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.input-box input::placeholder{
    text-indent: 10px;
    color: silver;
    letter-spacing: 2px;
}

.input-box{
    border-bottom: 1px solid silver;
}

.input-box input{
    border: none;
    outline: none;
    background: transparent;
    text-indent: 10px;
    letter-spacing: 2px;
}

[type=button]{
    cursor: pointer;
    border: none;
    background-color: silver;
    padding: 5px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all 0.5s linear;
}

[type=button]:hover{
    background-color: rgb(0, 186, 127);
}

.register p{
    font-size: 13px;
    letter-spacing: 2px;
    color: silver;
}

.register p a{
    text-decoration: none;
    color: silver;
    transition: all 0.5s linear;
}

.register p a:hover{
    text-decoration: underline;
    color: rgb(0, 186, 127);
}